# .env
JUBILEE_ESB_CREDENTIALS={"username":"your-username","password":"your-password","business":"your-business","baseurl":"https://example.com"}
PORTAL_GRAPHQL_CREDENTIALS={"api_key":"graphql-api-key","url":"https://example.com"}
