# .env
JUBILEE_ESB_SECRETS_ARN="arn:aws:secretsmanager:eu-west-1:842206816107:secret:jubilee-ekyc-backend-jubilee-esb-ApiGateway-credentials-YYYYYY"
JUBILEE_ESB_CREDENTIALS={"username":"abcde","password":"12345","business":"LIFE_BUSINESS","baseurl":"https:example.com"}
PORTAL_GRAPHQL_CREDENTIALS={"api_key":"gd3-6765ksk34340ssfskj","url":"https://123456789XXXXXXXXXXX.appsync-api.eu-west-1.amazonaws.com/graphql"}
PORTAL_GRAPHQL_SECRETS_ARN="arn:aws:secretsmanager:eu-west-1:842206816107:secret:jubilee-ekyc-backend-portal-graphql-credentials-XXXXXX"